{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Ronda de práctica{% endblock %}

{% block content %}

{% include "./general.style.html" %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>
        <p>
            En el experimento de hoy tendrás que calcular la suma de tres
            números de dos dígitos en las tres primeras etapas. No podrás
            utilizar calculadora. Sin embargo, podrás utilizar lápiz y papel
            para realizar tus propios cálculos.
        </p>
        <p>
            Para enviar tu respuesta, tienes que apretar la tecla “enter” de tu
            teclado. Cuando ingreses una respuesta, la pantalla te dirá
            inmediatamente si tu respuesta es correcta. Tus respuestas a los
            problemas son anónimas.
        </p>
        <p>
            Para familiarizarte con esta actividad, tendrás una ronda de
            práctica. La ronda de práctica NO afecta tu pago. Una vez que todos
            hayan terminado de leer las instrucciones, se te darán 2 minutos
            para calcular las sumas.
        </p>

    </div>
</div>


{% next_button %}

{% endblock %}
