{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Ronda de práctica{% endblock %}

{% block content %}

<style>.debug-info { display: none }</style>


{% include Constants.answerinput %}
{% formfield player.correct_answers_practice label="Respuestas correctas:" %}

{% include Constants.gamescripts %}

<script type="text/JavaScript">
$(document).ready(function() {
    $.NumberGenerator.init(
        "input[name=answer_input]",
        ".random-numbers",
        "input[name=correct_answers_practice]"
    );
});
</script>

{% endblock %}
