{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Introduction{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Ronda de Práctica</h3>
        <p>En el experimento de hoy, algunas tareas consisten en calcular la suma de cuatro números de dos dígitos elegidos al azar. A lo largo del experimento, no puedes utilizar calculadora; sin embargo, puedes anotar los números y utilizar el papel borrador que se te entregó. Para enviar una respuesta, haga clic en el botón Enviar con el mouse. Cuando ingresas una respuesta, la computadora te dirá inmediatamente si tu respuesta es correcta o no. Tus respuestas a los problemas son anónimas.</p>
        <p>Para familiarizarte con la pantalla, participarás en una ronda de práctica. La ronda de práctica NO afectará tu pago. Una vez que todos hayan terminado de leer, se te darán 2 minutos para calcular las sumas.</p>
    </div>
</div>


{% next_button %}

{% endblock %}
