{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Introduction{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Tarea 7 - Enviar Respuestas de nuevo</h3>
        <p>En esta etapa no tienes que realizar nuevas sumas. Si la Tarea 7 es la que se selecciona al azar para el pago, se te pagará por el número de sumar correctas resueltas en la Etapa 3 y tendrás que elegir la esquema de pago. </p>
        <p>• Si eliges Pago por Pregunta, recibirás $ 0.50 por suma resuelta correctamente (tu pago no se ve afectado por las respuestas incorrectas). Ten en cuenta que, en este caso, tu pago no depende del rendimiento de los otros participantes.</p>
        <p>• Si elige Torneo, tu desempeño en la Etapa 3 se evaluará en relación con el desempeño de los demás participantes de tu grupo. Si resolviste correctamente más sumas en la Etapa 3 que ellos, recibirás $ 2 por suma correcta. Sin embargo, si no resolviste más sumas que las otras personas de tu grupo, recibirás $ 0 en esta tarea. Si hay empates, el ganador será determinado al azar.</p>
        <p>Como habrás notado, esta etapa es igual a la Etapa 4. La única diferencia entre esta etapa y la Etapa 4 es que has sido informado sobre tu desempeño en comparación a uno de los otros participantes de tu grupo. </p>
        <p>[NEW SCREEN]</p>
        <p>Recall that in Task 3, you correctly solved X sum(s).</p>

        <p>Tu puesto relativo en la Etapa 3: Estás clasificado {mejor, más bajo}.</p>

        <p>¿Qué esquema de pago te gustaría aplicar a la cantidad de problemas que resolviste en la Etapa 3?</p>
        <p>Tarifa por Pregunta ($ 0.50 por cada suma correcta en la Etapa 3).</p>
        <p>Torneo ($ 2 por cada suma correcta SI resolviste más sumas que los otros miembros del grupo en la Tarea 3, y $ 0 de lo contrario).</p>

    </div>
</div>


{% next_button %}

{% endblock %}
