{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 4 – Envía tus Respuestas{% endblock %}

{% block content %}

{% include "./general.style.html" %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>

        <p>
            Para la cuarta etapa no tendrás que realizar ninguna suma
            adicional. En esta etapa solo tendrás que elegir el esquema de pago
            respecto a las sumas que realizaste en la etapa anterior (Etapa 3).
        </p>
        <p>
            1. Si eliges el Torneo pagado, tu desempeño será comparado con el
            desempeño de los otros participantes en la Etapa 3. Si resolviste
            más respuestas correctas que el resto en la Etapa 3 recibirás $1000
            por respuesta correcta. Sin embargo, si no tuviste más respuestas
            correctas que el resto, recibirás $0 en esta etapa. Si hay empate,
            el ganador será elegido al azar.
        </p>
        <p>
            2. Si eliges el esquema Pago por Pregunta, recibirás $250 por cada
            suma correcta en la Etapa 3 (tu pago no se ve afectado por las
            respuestas incorrectas). En este caso, tu pago no depende del
            rendimiento de los otros participantes.
        </p>

    </div>
</div>


{% next_button %}

{% endblock %}
