{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 5 - Creencia sobre desempeño en Etapa 3{% endblock %}

{% block content %}

{% include "./general.style.html" %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>
        <p>
            A continuación, te preguntaremos sobre cómo crees que fue tu
            desempeño en la Etapa 3 en comparación con los otros tres
            participantes de tu grupo.
        </p>
        <p>
            En la etapa 3, tu desempeño te ubico en alguna ubicación del 1 al
            4, siendo el 1 el mejor lugar. Es decir, si tu desempeño fue el más
            alto, obtendrías el primero lugar. Si tu desempeño fue el peor,
            estarías en el puesto número 4.
        </p>

    </div>
</div>

{% next_button %}

{% endblock %}
