{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 9{% endblock %}

{% block content %}

<style>
.col-form-label {
    display: none;
}

.controls li {
    float: left;
    width: 100px;
}
</style>

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Etapa Final</h3>
        <p>
            Al final de la sesión, recibirás el pago por esta Etapa Final además
            de recibir el pago por una de las primeras ocho etapas.
        </p>
        <p>
            En esta última etapa tienes que elegir entre jugar a la lotería o
            recibir un pago seguro. Te preguntaremos 20 veces si prefieres el
            dinero o la lotería. Todas las veces la lotería será la misma, pero
            la cantidad de dinero será diferente. Después de haber respondido
            los 20 casos, una de estas alternativas será elegida al azar para
            pagarte.
        </p>
        <p>
            Si en el caso seleccionado preferiste el pago seguro, recibirás el
            monto declarado.
        </p>
        <p>
            Si en el caso seleccionado elegiste la lotería, se te pagará lo que
            ganes en la lotería. Si ganas la lotería, se te dará el dinero al
            final de la sesión.
        </p>
        <p>
            En la lotería, ganarás $5.000 pesos chilenos con 50% de probabilidad,
            y con 50% de probabilidad recibirás nada.
        </p>

        <table class="table">
            <tr>
                <th>Alternativa</th>
                <th>Opciones</th>
            </tr>
            <tr>
                <td>1</td>
                <td>{% formfield player.final_round_1 %}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{% formfield player.final_round_2 %}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>{% formfield player.final_round_3 %}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>{% formfield player.final_round_4 %}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>{% formfield player.final_round_5 %}</td>
            </tr>
            <tr>
                <td>6</td>
                <td>{% formfield player.final_round_6 %}</td>
            </tr>
            <tr>
                <td>7</td>
                <td>{% formfield player.final_round_7 %}</td>
            </tr>
            <tr>
                <td>8</td>
                <td>{% formfield player.final_round_8 %}</td>
            </tr>
            <tr>
                <td>9</td>
                <td>{% formfield player.final_round_9 %}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>{% formfield player.final_round_10 %}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>{% formfield player.final_round_11 %}</td>
            </tr>
            <tr>
                <td>12</td>
                <td>{% formfield player.final_round_12 %}</td>
            </tr>
            <tr>
                <td>13</td>
                <td>{% formfield player.final_round_13 %}</td>
            </tr>
            <tr>
                <td>14</td>
                <td>{% formfield player.final_round_14 %}</td>
            </tr>
            <tr>
                <td>15</td>
                <td>{% formfield player.final_round_15 %}</td>
            </tr>
            <tr>
                <td>16</td>
                <td>{% formfield player.final_round_16 %}</td>
            </tr>
            <tr>
                <td>17</td>
                <td>{% formfield player.final_round_17 %}</td>
            </tr>
            <tr>
                <td>18</td>
                <td>{% formfield player.final_round_18 %}</td>
            </tr>
            <tr>
                <td>19</td>
                <td>{% formfield player.final_round_19 %}</td>
            </tr>
            <tr>
                <td>20</td>
                <td>{% formfield player.final_round_20 %}</td>
            </tr>
        </table>
    </div>
</div>


{% next_button %}

{% endblock %}
