{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 2 - Elección{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>
        <p>Al igual que en la tarea anterior, se te darán 4 minutos para calcular la suma de una serie de cuatro números de 2 dígitos. Sin embargo, podrás elegir la esquema de pago que se aplicará en esta tarea.</p>
        <p>Si la Etapa 2 es la seleccionada al azar para el pago, tus ingresos se determinarán de la siguiente manera:</p>
        <p>• Si eliges el pago por respuesta, recibirás $500 por la suma que resuelvas correctamente (el pago no se verá afectado por las sumas respondidas incorrectamente). Ten en cuenta que, en este caso, tu pago no depende del rendimiento de los otros participantes.</p>
        <p>• Si eliges el torneo, tu desempeño será evaluado en relación con el desempeño de la Etapa 1 de los otros participantes. Si resuelves más sumas correctas que el resto hizo en la Etapa 1, recibirás $1.000 por cada suma que resuelvas correctamente. Por el contrario, si respondes menos respuestas correctas que en la Etapa 1, recibirás $0 en esta tarea. Si hay empate, el ganador será determinado al azar.</p>
        <p>No se te informará de tu desempeño en la Etapa 2 hasta que se hayan completado todas las  otras etapas. ¿Alguna pregunta antes de comenzar?</p>
        <p>¿Qué esquema de pago te gustaría elegir para el número de sumas correctas en la Etapa 2?</p>

        {% formfield player.round_two_mode %}

    </div>
</div>


{% next_button %}

{% endblock %}
