{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Introduction{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Etapa Final</h3>
        <p>
            Al final de la sesión, recibirás el pago por esta Etapa Final además de recibir el pago por una de
            las primeras ocho etapas. Para esta etapa, se solicita que elijas entre la Opción A y la Opción B en cada
            una de las 10 alternativas en la siguiente pantalla. Después de que hagas tus elecciones, se elegirá una
            alternativa al azar para determinar tu pago.
        </p>
        <p>
            En cada alternativa, si eliges la Opción A, recibirás $5 con 50% de probabilidad y $1 con 50% de
            probabilidad. El pago por la Opción A es el mismo en cada una de las alternativas.
        </p>
        <p>
            Si eliges la opción B, recibirás una cantidad fija. Sin embargo, la cantidad que recibirás bajo la
            Opción B varía según las alternativas, desde $ 1.25 en la Alternativa 1 hasta $ 3.50 en la Alternativa 10.
        </p>
        <p>
            Para cada alternativa en la siguiente pantalla, se te pedirá que elijas la opción A o la B. Para tu pago,
            se elegirá una alternativa al azar. Si eliges la Opción B para la alternativa elegida, recibirás el monto
            de la Opción B para esa alternativa. Si eliges la Opción A, con un 50% de probabilidad, recibirás $ 5 y
            un 50% de probabilidad recibirás $ 1.
        </p>
        <p>Por ejemplo, considera las siguientes dos alternativas:</p>

        <table class="table">
            <tr>
                <th>Alternativa</th>
                <th>Opción A</th>
                <th>Opción B</th>
            </tr>
            <tr>
                <td>1</td>
                <td>$5 with 50% chance, and $1 with 50% chance</td>
                <td>$1.25</td>
            </tr>
            <tr>
                <td>2</td>
                <td>$5 with 50% chance, and $1 with 50% chance</td>
                <td>$3.00</td>
            </tr>
        </table>

        <p>
            Como puedes ver, la Opción A es la misma para ambas alternativas. Sin embargo, la opción B difiere para
            las dos alternativas. Si la Alternativa 1 es elegida para el pago, y eligiste la Opción A, entonces
            recibirás $5 con 50% de probabilidad y $1 con 50% de probabilidad. Si la Alternativa 1 es elegida para
            el pago, y elegiste la Opción B, entonces recibirás $ 1.25.
        </p>
        <p>Haz clic en Siguiente para ver las 10 opciones y tomar tus decisiones.</p>


    </div>
</div>


{% next_button %}

{% endblock %}
