{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 6 - Creencia sobre la Etapa 3 con información revelada.{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones.</h3>
        <p>
            Ahora se te informará sobre tu desempeño en la Tarea 3 en
            comparación a uno de los otros participantes de tu grupo.
        </p>
        <p>
            Si recibes el mensaje <b>"Estás rankeado mejor"</b>, significa que tu
            desempeño en la Etapa 3 fue mejor que el desempeño del otro
            participante. Es decir, tu puesto está más cercano a 1.
        </p>
        <p>
            Si recibes el mensaje <b>"Estás clasificado más bajo"</b>, significa que
            tu desempeño fue inferior al del otro participante.
        </p>

    </div>
</div>

{% next_button %}

{% endblock %}
