{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Tarea 7{% endblock %}

{% block content %}

{% include "./general.style.html" %}

<div class="card bg-light instructions">
    <div class="card-body">

        <p>
            Recuerda que en la Etapa 3, resolviste correctamente {{ player.correct_answers_round_three }} suma (s).
        </p>
        <p>
            Además estás clasificado {% if player.better_or_not %}mejor{% else %}más bajo{% endif %} que un participante de tu grupo.
        </p>
        <p>
            ¿Qué esquema de pago te gustaría aplicar a la cantidad de problemas que resolviste en la Etapa 3?
        </p>

        {% formfield player.round_seven_mode %}

    </div>
</div>


{% next_button %}

{% endblock %}
