{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Tarea 3 – Pago por Pregunta{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>
        <p>Al igual que en las dos tareas anteriores, se darán 4 minutos para calcular la suma de cuatro números de dos dígitos elegidos al azar.<p>
        <p>Si la Tarea 3 es la que se selecciona al azar para el pago, recibirás $250 por cada suma resuelta correctamente (el pago no se verá afectado por las sumas respondidas incorrectamente). Ten en cuenta que tu pago en la Etapa 3 no depende del desempeño de otros participantes.<p>
        <p>Nos referimos a este pago como el pago por pieza.<p>
        <p><b>¿HAY ALGUNA PREGUNTA ANTES DE COMENZAR?</b></p>


    </div>
</div>


{% next_button %}

{% endblock %}
