{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 1 – Torneo Pagado{% endblock %}

{% block content %}

<style>.debug-info { display: none }</style>

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>
        <p>
            Para la Etapa 1, tendrás 4 minutos para calcular las sumas.
        </p>
        <p>
            En esta Etapa, tu pago depende de tu desempeño en relación al
            resto de los participantes. Específicamente, has sido agrupado al
            azar con otros tres participantes que están en tu misma fila de
            esta sala formando un grupo de cuatro personas.
        </p>
        <p>
            Si la Etapa 1 es la tarea seleccionada al azar para el pago, tus
            ganancias dependerán de la cantidad de sumas que resuelvas en
            comparación con las otras tres personas de tu grupo. La persona que
            resuelva correctamente el mayor número de sumas recibirá $1000 por
            cada suma correcta, mientras que los otros participantes recibirán
            $0. Si hay empate, el ganador será elegido al azar.
        </p>
        <p>
            A esta modalidad la llamamos torneo pagado.
        </p>
        <p>
            No se te informará sobre tu desempeño respecto al resto hasta
            finalizar las ocho etapas.
        </p>
        <p><b>¿HAY ALGUNA PREGUNTA ANTES DE COMENZAR?</b></p>

    </div>
</div>


{% next_button %}

{% endblock %}
