{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Tarea 7 - Enviar Respuestas de nuevo{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>
        <p>
            Con la información entregada anteriormente, tendrás que elegir nuevamente tu esquema de pago sobre tu
            desempeño en la Etapa 3.
        </p>
        <p>
            • Si eliges <b>Pago por respuesta</b>, recibirás $250 por suma resuelta correctamente (tu pago no se ve afectado
            por las respuestas incorrectas). En este caso, tu pago no depende del rendimiento de los otros
            participantes.
        </p>
        <p>
            • Si eliges <b>Torneo pago</b>, tu desempeño en la Etapa 3 se evaluará en relación con el desempeño de los
            demás participantes de tu grupo. Si resolviste correctamente más sumas en la Etapa 3 que ellos, recibirás
            $1.000 por suma correcta. Sin embargo, si no resolviste más sumas correctas que las otras personas de tu
            grupo, recibirás $0 en esta tarea. Si hay empate, el ganador será elegido al azar.
        </p>
        <p>
            Como habrás notado, esta etapa es igual a la Etapa 4. La única diferencia entre esta etapa y la Etapa 4 es
            que has sido informado sobre tu desempeño en comparación a uno de los participantes de tu grupo.
        </p>

    </div>
</div>


{% next_button %}

{% endblock %}
