{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 5 - Creencia sobre desempeño en Etapa 3{% endblock %}

{% block content %}

{% include "./general.style.html" %}

<div class="card bg-light instructions">
    <div class="card-body">

        <p>
            <b>Recuerda que en la Etapa 3, resolviste correctamente {{ player.correct_answers_round_three }} suma (s).</b>
        </p>
        <p>
            Para cada uno de los siguientes lugares, ¿cuál es la probabilidad
            (de 0 a 100) de que hayas obtenido ese lugar en la Etapa 3?
        </p>
        <p>
            Por ejemplo, si les asignas un probabilidad de 15 a un puesto,
            significa que crees que es poco probable que te ubiques en ese
            lugar. Por el contrario, si le asignas una probabilidad de 77 a un
            puesto en particular, significa que crees que es muy probable que
            te ubiques en ese puesto.
        </p>
        <p>
            Ingresa un número entre 0 y 100 para cada lugar (no ingreses el
            signo de porcentaje). La suma de las probabilidades debe sumar 100.
        </p>

        <table class="table" >
            <tr>
                <th>Lugar</th>
                <th>Categoría</th>
                <th>Probabilidad</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Más alto</td>
                <td>{% formfield player.probabilities_round_five_0 label="porcentaje de probabilidad:" %}</td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td>{% formfield player.probabilities_round_five_1 label="porcentaje de probabilidad:" %}</td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td>{% formfield player.probabilities_round_five_2 label="porcentaje de probabilidad:" %}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Más bajo</td>
                <td>{% formfield player.probabilities_round_five_3 label="porcentaje de probabilidad:" %}</td>
            </tr>
            <tr>
                <td></td>
                <td><b>total:</b></td>
                <td class="total" ></td>
            </tr>
        </table>

        <p>
            Si la Etapa 5 es elegida al azar para el pago, se te pagará según
            la precisión de tu creencia según la siguiente fórmula:
        </p>
        <p>
            <img src="https://cdn.loadingplay.com/static/images/01529a03e6dc4c8be6a7b78d8eeb30a8_Screen_Shot__at_.34" />
        </p>
        <p>
            Si bien esta fórmula puede parecer complicada, lo que significa es
            simple: en promedio, <b>se paga más cuando informas honestamente tus
            mejores estimaciones de las probabilidades de tu posición</b>. El
            rango de pago es de $0 - $10.000
        </p>

    </div>
</div>


{% next_button %}

<script type="text/javascript">

var total = 0;
function validatePercentage() {
    var probabilities = [
        parseInt($("#id_probabilities_round_five_0").val()),
        parseInt($("#id_probabilities_round_five_1").val()),
        parseInt($("#id_probabilities_round_five_2").val()),
        parseInt($("#id_probabilities_round_five_3").val())
    ];

    total = probabilities.reduce(function(accum, item) {
        item = isNaN(item) ? 0:item;
        return accum + item;
    });

    $(".total").html(total + "%");
}

$("#id_probabilities_round_five_0").on("keyup", validatePercentage);
$("#id_probabilities_round_five_1").on("keyup", validatePercentage);
$("#id_probabilities_round_five_2").on("keyup", validatePercentage);
$("#id_probabilities_round_five_3").on("keyup", validatePercentage);
$(document).ready(validatePercentage);

$("#form").on("submit", function (e) {

    if (total !== 100) {
        e.stopPropagation();
        e.preventDefault();
        alert("debe sumar 100 en las probabilidades");

        setTimeout(function() {
            $(".btn-primary").removeAttr("disabled");
        }, 1000);
    }
});
</script>
{% endblock %}
