{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 8 - Creencia sobre Etapa 1{% endblock %}

{% block content %}

<style>.debug-info { display: none }</style>

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>

        <p>
            A continuación, te preguntaremos cómo crees que fue tu desempeño en
            la Etapa 1 en comparación con el desempeño de los otros tres
            participantes de tu grupo. En la Etapa 1 obtuviste uno de los
            cuatro puestos dentro de tu grupo, siendo 1 el puesto más alto y 4
            el más bajo.
        </p>
        <p><b>
            Recuerda que en la Tarea 1, resolviste correctamente {{ player.correct_answers_round_one }} suma (s).
        </b></p>
        <p>
            Para cada uno de los siguientes puestos, ¿cuál es la probabilidad
            (de 0 a 100) de que creas que obtuviste ese puesto en la Etapa 1?
        </p>
        <p>
            Ingresa un número entre 0 y 100 para cada puesto (no ingresos un
            signo de porcentaje). Los números deben sumar 100.
        </p>

        <table class="table" >
            <tr>
                <th>Lugar</th>
                <th>Categoría</th>
                <th>Probabilidad</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Más alto</td>
                <td>{% formfield player.probabilities_round_eight_0 label="porcentaje de probabilidad:" %}</td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td>{% formfield player.probabilities_round_eight_1 label="porcentaje de probabilidad:" %}</td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td>{% formfield player.probabilities_round_eight_2 label="porcentaje de probabilidad:" %}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Más bajo</td>
                <td>{% formfield player.probabilities_round_eight_3 label="porcentaje de probabilidad:" %}</td>
            </tr>
            <tr>
                <td></td>
                <td><b>total:</b></td>
                <td class="total" ></td>
            </tr>
        </table>

        <p>
            Si la Etapa 8 es elegida al azar para el pago, se te pagará según
            la precisión de tu creencia según la siguiente fórmula:
        </p>
        <p><img src="https://cdn.loadingplay.com/static/images/01529a03e6dc4c8be6a7b78d8eeb30a8_Screen_Shot__at_.34"/></p>
        <p>
            Si bien esta fórmula puede parecer complicada, lo que significa es
            simple: en promedio, se paga más cuando informas honestamente tus
            mejores estimaciones de las probabilidades de tu posición. El rango
            de pago es de $0 - $10.000
        </p>
    </div>
</div>


{% next_button %}

<script type="text/javascript">

var total = 0;
function validatePercentage() {
    var probabilities = [
        parseInt($("#id_probabilities_round_eight_0").val()),
        parseInt($("#id_probabilities_round_eight_1").val()),
        parseInt($("#id_probabilities_round_eight_2").val()),
        parseInt($("#id_probabilities_round_eight_3").val())
    ];

    total = probabilities.reduce(function(accum, item) {
        item = isNaN(item) ? 0:item;
        return accum + item;
    });

    $(".total").html(total + "%");
}

$("#id_probabilities_round_eight_0").on("keyup", validatePercentage);
$("#id_probabilities_round_eight_1").on("keyup", validatePercentage);
$("#id_probabilities_round_eight_2").on("keyup", validatePercentage);
$("#id_probabilities_round_eight_3").on("keyup", validatePercentage);
$(document).ready(validatePercentage);

$("#form").on("submit", function (e) {

    if (total !== 100) {
        e.stopPropagation();
        e.preventDefault();
        alert("debe sumar 100 en las probabilidades");

        setTimeout(function() {
            $(".btn-primary").removeAttr("disabled");
        }, 1000);
    }
});
</script>


{% endblock %}
