{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 1{% endblock %}

{% block content %}


{% include Constants.answerinput %}
{% formfield player.correct_answers_round_one label="Respuestas correctas:" %}

{% include Constants.gamescripts %}

<script type="text/JavaScript">
$(document).ready(function() {
    $.NumberGenerator.init(
        "input[name=answer_input]",
        ".random-numbers",
        "input[name=correct_answers_round_one]"
    );
});
</script>

{% endblock %}
