{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Introduction{% endblock %}

{% block content %}

{% include "./general.style.html" %}

<h2>Bienvenido</h2>

<p>
    En el experimento de hoy, se te pedirá que completes ocho tareas
    diferentes. Ninguna de estas te tomará más de 4 minutos.
</p>
<p>
    Al final del experimento, recibirás $2.000 por haber completado estas ocho
    tareas. Además, se seleccionará al azar una de las ocho tareas y se te
    pagará en función a tu desempeño en esa tarea. Es decir, tu pago total
    será mayor o igual a $2.000
</p>
<p>
    <b>ATENCIÓN.</b> El método que se utiliza para determinar tu pago varía según
    cada tarea y se te explicará en detalle en cada etapa.
</p>
<p>
    Por favor, no hables con nadie en ningún momento durante el experimento.
    Lee tranquilo las instrucciones, no se te descuenta tiempo, ni puntaje por
    leerlas.  Si tienes alguna pregunta, levanta tu mano en silencio.
</p>


{% next_button %}

{% endblock %}
